.App {
 text-align: center;
 background-color: #282c34;
 min-height: 150vh;

}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid-container {
  margin-top: 50px;
  display: grid;
  grid-auto-columns: 50%;
  grid-auto-rows: 50%;
  grid-column-gap: 30px;
  grid-row-gap: 10px;

  grid-template-areas: 
  "a b"
  "c d";

}


.selectedPlaylists {
  grid-area: a;
  color:white;
  overflow:scroll;
  height: 400px;
  width: 800px;
  box-shadow: 2px 5px 5px 5px #3d434f;
  
}


.selectPlaylists {
  grid-area: c;
  color:white;
  overflow:scroll;
  height: 500px;
  width: 800px;
  box-shadow: 0px 5px 0px  5px ;
  box-shadow: 2px 5px 5px 5px #3d434f;
  
}

.venn {
  grid-area: b;
  color:white;
  overflow:scroll;
  height: 400px;
  width: 800px;
  border-radius: 10px;

  box-shadow: 2px 5px 5px 5px #3d434f;
  
}

.playlistPreview {
  grid-area: d;
  color:white;
  overflow:scroll;
  height: 500px;
  width: 800px;
  box-shadow: 2px 5px 5px 5px #3d434f;
  
}


.playlist-select-list{
  margin-left: 0;
  margin-right: 0;
  padding: 10px;
}

.playlist-preview-list{
  margin-left: 0;
  margin-right: 0;
  padding: 10px;
}


.playlist{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;

}

.song{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}


.playlist-button-group {
  margin-left: 10px;
}




.webPlayer{
  size:20%;
}

._PlayerRSWP {
  position: fixed;
  bottom: 0;
}



.banner {
  color: #1ecd97;
}

/** Buttons **/

.btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
  
}

.login-button{
  margin-top: 50px;
}

.btn:hover {
  background: #1ecd97;
  color: #333;
}

.btn--login {
  margin: 0 auto;
}
